/* 





body{
background-color: rgb(130, 43, 130);
display: flex;
text-align: center;
justify-content: center;
}
h1{
  color: aliceblue;
}
.App {
  background-color: rgb(58, 16, 98);
}

.tt{
  border-radius: 4px;
  margin: auto;
}


li{
  color: aliceblue;
}
.todo-inp{
  background-color: rgb(58, 16, 98);
  border: 2px solid antiquewhite;
  border-color: antiquewhite;
  color: aliceblue;
  padding: 0.5rem 1rem;
}
.todo-lis{
  margin: auto;
  display: flex;
  justify-content: left;
}
.todo-del{
  margin-left: 1rem;
  background-color: rgb(58, 16, 98);
  color: aliceblue;
  border-color: antiquewhite;
  cursor: pointer;
  margin-left: auto;
  justify-content: space-between;
} */
/* .add-btn{
  margin-left: 1rem;
  background-color: rgb(58, 16, 98);
  border-color: antiquewhite;
  color: aliceblue;
  cursor: pointer;
} */